Repository JonnyC02/clublink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_tests, frontend_build, backend_tests, backend_build

.gitlab-ci.yml:

stages:
  - test
  - build

frontend_tests:
  stage: test
  script:
    - cd frontend
    - npm install
    - cd ..
    - npm install
    - npx playwright install
    - npx playwright test tests/frontend/**
  rules:
    - changes:
      - "frontend/**"

frontend_build:
  stage: build
  script:
    - cd frontend
    - npm install
    - npm run build
  rules:
    - changes:
      - "frontend/**"

backend_tests:
  stage: test
  script:
    - cd backend
    - npm install
    - cd ..
    - npm install
    - npx playwright install
    - npx playwright test tests/backend/**
  rules:
    - changes:
      - "backend/**"

backend_build:
  stage: test
  script:
    - cd backend
    - npm install
    - npm run build
  rules:
    - changes:
      - "backend/**"

less error spam (#61)
  backend/src/utils/authentication.ts
Due: none

remove debug lines (#62)
  .github/workflows/e2e.yml
Due: none

add more functionality to transactions page
  backend/src/routes/payment.ts
  backend/src/utils/authentication.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/AddTransaction.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/types/responses/Transaction.ts
  infra/modules/schema.sql
Due: frontend_tests, frontend_build

add more functionality to transactions page (#63)
  backend/src/routes/payment.ts
  backend/src/utils/authentication.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/AddTransaction.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/types/responses/Transaction.ts
  infra/modules/schema.sql
Due: frontend_tests, frontend_build

toggleable booking fee
  backend/src/routes/payment.ts
  backend/src/routes/tickets.ts
  backend/tests/integration/payment.test.ts
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  infra/modules/schema.sql
Due: none

toggleable booking fee (#64)
  backend/src/routes/payment.ts
  backend/src/routes/tickets.ts
  backend/tests/integration/payment.test.ts
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  infra/modules/schema.sql
Due: none

fix: upgrade @aws-sdk/client-s3 from 3.726.1 to 3.758.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade stripe from 17.5.0 to 17.7.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg from 8.13.1 to 8.13.3
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade nodemailer from 6.9.16 to 6.10.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg-mem from 3.0.4 to 3.0.5
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.726.1 to 3.758.0 (#65)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg from 8.13.1 to 8.13.3 (#67)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade nodemailer from 6.9.16 to 6.10.0 (#68)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg-mem from 3.0.4 to 3.0.5 (#69)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix backend issue
  backend/src/utils/stripe.ts
Due: none

[Snyk] Upgrade stripe from 17.5.0 to 17.7.0 (#66)
  backend/package-lock.json
  backend/package.json
  backend/src/utils/stripe.ts
Due: backend_tests, backend_build

small fix
  infra/modules/schema.sql
Due: none

mobile compatibility
  backend/package-lock.json
  frontend/src/components/Navbar.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/HomePage.tsx
Due: backend_tests, backend_build

deployment script
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
Due: none

change var name
  .github/workflows/deploy.yml
Due: none

deploy script (#71)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
Due: none

deploy script (#71) (#72)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
Due: none

gitignore pm2
  .gitignore
Due: none

update deploy.yml
  .github/workflows/deploy.yml
Due: none

change env var
  frontend/src/App.tsx
  frontend/src/components/CommitteeProtected.tsx
  frontend/src/pages/Action.tsx
  frontend/src/pages/AddTransaction.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/StudentVerify.tsx
  frontend/src/pages/VerifyPage.tsx
  frontend/src/services/authService.ts
  frontend/tests/integration/Checkout.test.tsx
  frontend/tests/unit/CommitteeProtected.test.tsx
  frontend/tests/unit/authService.test.ts
Due: none

change back env vars
  frontend/src/App.tsx
  frontend/src/components/CommitteeProtected.tsx
  frontend/src/pages/Action.tsx
  frontend/src/pages/AddTransaction.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/StudentVerify.tsx
  frontend/src/pages/VerifyPage.tsx
  frontend/src/services/authService.ts
  frontend/tests/integration/Checkout.test.tsx
  frontend/tests/unit/CommitteeProtected.test.tsx
  frontend/tests/unit/authService.test.ts
Due: none

mobile compatibility (#70)
  backend/package-lock.json
  frontend/src/components/Navbar.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/HomePage.tsx
Due: backend_tests, backend_build

Deploy rebase (#73)
  .github/workflows/deploy.yml
  .gitignore
  frontend/src/components/CommitteeProtected.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/VerifyPage.tsx
  frontend/src/services/authService.ts
  frontend/tests/unit/CommitteeProtected.test.tsx
Due: none

small fix
  .github/workflows/deploy.yml
Due: none

Release (#77)
  .github/workflows/deploy.yml
Due: none

metadata change
  frontend/public/index.html
Due: none

metadata change (#78)
  frontend/public/index.html
Due: none

Release (#79)
  frontend/public/index.html
Due: none

mini bugs
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/tests/unit/Footer.test.tsx
  frontend/tests/unit/Navbar.test.tsx
Due: none

mini bugs (#80)
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/tests/unit/Footer.test.tsx
  frontend/tests/unit/Navbar.test.tsx
Due: none

Release (#81)
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/tests/unit/Footer.test.tsx
  frontend/tests/unit/Navbar.test.tsx
Due: none
