Repository JonnyC02/clublink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_tests, frontend_build, backend_tests, backend_build

.gitlab-ci.yml:

stages:
  - test
  - build

frontend_tests:
  stage: test
  script:
    - cd frontend
    - npm install
    - cd ..
    - npm install
    - npx playwright install
    - npx playwright test tests/frontend/**
  rules:
    - changes:
      - "frontend/**"

frontend_build:
  stage: build
  script:
    - cd frontend
    - npm install
    - npm run build
  rules:
    - changes:
      - "frontend/**"

backend_tests:
  stage: test
  script:
    - cd backend
    - npm install
    - cd ..
    - npm install
    - npx playwright install
    - npx playwright test tests/backend/**
  rules:
    - changes:
      - "backend/**"

backend_build:
  stage: test
  script:
    - cd backend
    - npm install
    - npm run build
  rules:
    - changes:
      - "backend/**"

fix job
  .github/workflows/build.yml
Due: none

update database port for CSB wifi
  backend/src/db/db.ts
Due: none

add club dashboard
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/utils/club.ts
  backend/src/utils/user.ts
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  package-lock.json
  package.json
Due: none

Create club dashboard (#14)
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/utils/authentication.ts
  backend/src/utils/club.ts
  backend/src/utils/user.ts
  frontend/src/App.tsx
  frontend/src/components/CommitteeProtected.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/utils/auth.ts
  package-lock.json
  package.json
Due: none

add unit tests
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/utils/authentication.ts
  backend/src/utils/club.ts
  backend/src/utils/email.ts
  backend/src/utils/tokens.ts
  backend/src/utils/user.ts
  backend/tests/unit/authentication.test.ts
  backend/tests/unit/club.test.ts
  backend/tests/unit/email.test.ts
  backend/tests/unit/token.test.ts
  backend/tests/unit/user.test.ts
  backend/tsconfig.json
Due: backend_tests, backend_build

add first integration tests
  .github/workflows/test.yml
  .gitignore
  backend/docker-compose.yml
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/db/db.ts
  backend/src/index.ts
  backend/src/routes/auth.ts
  backend/tests/integration/clubs.test.ts
  infra/modules/schema.sql
  package-lock.json
  package.json
  playwright.config.ts
  playwright/setup.ts
  playwright/teardown.ts
  playwright/utils.ts
  tests/backend/club.spec.ts
  tests/frontend/homepage.spec.ts
  tests/frontend/login.spec.ts
Due: backend_tests, backend_build

small action change
  .github/workflows/test.yml
Due: none

github action fix
  .github/workflows/test.yml
Due: none

workflow fit
  .github/workflows/test.yml
Due: none

fix typo
  .github/workflows/test.yml
Due: none

remove tty
  .github/workflows/test.yml
Due: none

add working dir
  .github/workflows/test.yml
Due: none

add missing dependencies
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

add missing types
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

add env step
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

update env
  .github/workflows/test.yml
Due: none

add aws mocks
  backend/tests/integration/clubs.test.ts
Due: none

fix ci
  backend/package-lock.json
  backend/package.json
  backend/tests/integration/clubs.test.ts
Due: backend_tests, backend_build

mac -> desktop
  backend/src/routes/user.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/user.test.ts
Due: none

final pre-demo push
  backend/src/routes/auth.ts
  frontend/src/components/ClubCard.tsx
  frontend/src/components/ClubSection.tsx
  frontend/src/components/FeatureCard.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/HomePage.tsx
Due: none

linting
  backend/src/routes/auth.ts
  backend/src/utils/tokens.ts
  frontend/src/App.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ResetPassword.tsx
Due: none

quick about page
  backend/.env.test
  frontend/src/App.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/HomePage.tsx
Due: backend_tests, backend_build

add backend testing
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/db/db.ts
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
Due: backend_tests, backend_build

change job
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
  backend/src/routes/clubs.ts
Due: none

frontend unit tests
  frontend/babel.config.json
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FeatureCard.tsx
  frontend/src/components/FeatureSection.tsx
  frontend/src/pages/HomePage.tsx
  frontend/tests/setup.ts
  frontend/tests/unit/ClubCard.test.tsx
  frontend/tests/unit/ClubSection.test.tsx
  frontend/tests/unit/CommitteeProtected.test.tsx
  frontend/tests/unit/FeatureCard.test.tsx
  frontend/tests/unit/FeatureSection.test.tsx
  frontend/tests/unit/Footer.test.tsx
  frontend/tests/unit/Hero.test.tsx
  frontend/tests/unit/Navbar.test.tsx
  frontend/tests/unit/ProtectedRoute.test.tsx
  frontend/tests/unit/TitleSection.test.tsx
  frontend/tsconfig.json
Due: frontend_tests, frontend_build

update job
  .github/workflows/test.yml
  backend/tests/integration/auth.test.ts
  backend/tests/unit/club.test.ts
  package-lock.json
  package.json
Due: none

add frontend tests
  frontend/jest.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/tests/integration/AboutPage.test.tsx
  frontend/tests/integration/ClubDashboard.test.tsx
  frontend/tests/integration/ClubPage.test.tsx
  frontend/tests/integration/ClubsPage.test.tsx
  frontend/tests/integration/Dashboard.test.tsx
  frontend/tests/integration/ErrorPage.test.tsx
  frontend/tests/integration/ForgotPassword.test.tsx
  frontend/tests/integration/HomePage.test.tsx
  frontend/tests/integration/ResetPassword.test.tsx
  frontend/tests/integration/VerifyPage.test.tsx
  frontend/tests/unit/auth.test.ts
  frontend/tests/unit/authService.test.ts
Due: frontend_tests, frontend_build

extra files
  .github/workflows/test.yml
  infra/modules/schema.sql
Due: none

Cl 1 robust test suite (#17)
  .github/workflows/test.yml
  infra/modules/schema.sql
Due: none

fully typed system
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/routes/user.ts
  backend/src/types/AuthRequest.ts
  backend/src/types/index.d.ts
  backend/src/types/token.ts
  backend/src/utils/authentication.ts
  backend/src/utils/club.ts
  backend/src/utils/user.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/unit/authentication.test.ts
  backend/tests/unit/club.test.ts
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/types/Club.ts
  frontend/src/types/ClubData.ts
  frontend/src/types/ClubType.ts
  frontend/src/types/Error.ts
  frontend/src/types/Member.ts
  frontend/src/types/Request.ts
  frontend/src/types/responses/CommitteeResp.ts
  frontend/src/types/responses/UserClubsResp.ts
  frontend/src/types/responses/UserResp.ts
Due: none

fix tests
  backend/src/routes/user.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/unit/club.test.ts
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

fully typed system (#18)
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/routes/user.ts
  backend/src/types/AuthRequest.ts
  backend/src/types/index.d.ts
  backend/src/types/token.ts
  backend/src/utils/authentication.ts
  backend/src/utils/club.ts
  backend/src/utils/user.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/unit/authentication.test.ts
  backend/tests/unit/club.test.ts
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/types/Club.ts
  frontend/src/types/ClubData.ts
  frontend/src/types/ClubType.ts
  frontend/src/types/Error.ts
  frontend/src/types/Member.ts
  frontend/src/types/Request.ts
  frontend/src/types/responses/CommitteeResp.ts
  frontend/src/types/responses/UserClubsResp.ts
  frontend/src/types/responses/UserResp.ts
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

add simple audit log feature
  backend/src/routes/clubs.ts
  backend/src/utils/audit.ts
  backend/src/utils/club.ts
  backend/tests/unit/audit.test.ts
  backend/tests/unit/club.test.ts
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/AuditLog.ts
  frontend/src/types/ClubData.ts
  frontend/src/types/responses/ClubData.ts
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

fix test
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

add simple audit log feature (#19)
  backend/src/routes/clubs.ts
  backend/src/utils/audit.ts
  backend/src/utils/club.ts
  backend/tests/unit/audit.test.ts
  backend/tests/unit/club.test.ts
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/AuditLog.ts
  frontend/src/types/ClubData.ts
  frontend/src/types/responses/ClubData.ts
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

add webp preprocessing
  backend/package-lock.json
  backend/package.json
  backend/src/routes/clubs.ts
  backend/src/utils/audit.ts
  backend/src/utils/file.ts
  backend/tests/unit/file.test.ts
  frontend/src/pages/ClubDashboard.tsx
Due: backend_tests, backend_build

fix ci
  backend/jest.config.js
  backend/tests/setup.ts
  backend/tests/unit/file.test.ts
Due: backend_tests, backend_build
