Repository JonnyC02/clublink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_tests, frontend_build, backend_tests, backend_build

frontend_tests:
  stage: test
  script:
  - cd frontend
  - npm install
  - cd ..
  - npm install
  - npx playwright install
  - npx playwright test tests/frontend/**

frontend_build:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build

backend_tests:
  stage: test
  script:
  - cd backend
  - npm install
  - cd ..
  - npm install
  - npx playwright install
  - npx playwright test tests/backend/**

backend_build:
  stage: test
  script:
  - cd backend
  - npm install
  - npm run build

fix: upgrade sharp from 0.33.5 to 0.34.0 (#104)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.758.0 to 3.782.0 (#103)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

meeting mins
  minutes/meeting-03-02-25.txt
  minutes/meeting-03-03-25.txt
  minutes/meeting-05-11-24.txt
  minutes/meeting-07-04-25.txt
  minutes/meeting-08-10-24.txt
  minutes/meeting-12-11-24.txt
  minutes/meeting-15-10-24.txt
  minutes/meeting-17-02-25.txt
  minutes/meeting-19-11-24.txt
  minutes/meeting-20-01-25.txt
  minutes/meeting-20-03-25.txt
  minutes/meeting-22-10-24.txt
  minutes/meeting-26-11-24.txt
  minutes/meeting-27-01-25.txt
Due: none

small schema changes
  infra/modules/schema.sql
Due: none

small fixed before tomorrow
  frontend/src/components/Navbar.tsx
  frontend/src/pages/ClubDashboard.tsx
Due: none

fix: upgrade lucide-react from 0.475.0 to 0.487.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @stripe/stripe-js from 5.6.0 to 5.10.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @stripe/react-stripe-js from 3.1.1 to 3.6.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react from 18.3.18 to 18.3.20
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade react-router-dom from 6.29.0 to 6.30.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade react-router-dom from 6.29.0 to 6.30.0 (#111)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade lucide-react from 0.475.0 to 0.487.0 (#107)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react from 18.3.18 to 18.3.20 (#110)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @stripe/react-stripe-js from 3.1.1 to 3.6.0 (#109)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @stripe/stripe-js from 5.6.0 to 5.10.0 (#108)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @aws-sdk/client-s3 from 3.782.0 to 3.787.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade nodemailer from 6.10.0 to 6.10.1
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade sharp from 0.34.0 to 0.34.1
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade lucide-react from 0.487.0 to 0.503.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react-dom from 18.3.5 to 18.3.6
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react-dom from 18.3.5 to 18.3.6 (#116)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade lucide-react from 0.487.0 to 0.503.0 (#115)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade sharp from 0.34.0 to 0.34.1 (#114)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade nodemailer from 6.10.0 to 6.10.1 (#113)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.782.0 to 3.787.0 (#112)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities (#119)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg from 8.14.1 to 8.15.6
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.787.0 to 3.802.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.787.0 to 3.802.0 (#121)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg from 8.14.1 to 8.15.6 (#120)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities (#122)
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade @aws-sdk/client-s3 from 3.802.0 to 3.821.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade sharp from 0.34.1 to 0.34.2
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade pg from 8.15.6 to 8.16.0
  backend/package-lock.json
  backend/package.json
Due: backend_tests, backend_build

fix: upgrade lucide-react from 0.503.0 to 0.518.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react from 18.3.20 to 18.3.23
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

Path conditions:
  frontend_tests: any of: frontend/**
  frontend_build: any of: frontend/**
  backend_tests: any of: backend/**
  backend_build: any of: backend/**
