Repository JonnyC02/clublink: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_tests, frontend_build, backend_tests, backend_build

frontend_tests:
  stage: test
  script:
  - cd frontend
  - npm install
  - cd ..
  - npm install
  - npx playwright install
  - npx playwright test tests/frontend/**

frontend_build:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build

backend_tests:
  stage: test
  script:
  - cd backend
  - npm install
  - cd ..
  - npm install
  - npx playwright install
  - npx playwright test tests/backend/**

backend_build:
  stage: test
  script:
  - cd backend
  - npm install
  - npm run build

add webp preprocessing (#20)
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/routes/clubs.ts
  backend/src/utils/audit.ts
  backend/src/utils/file.ts
  backend/tests/setup.ts
  backend/tests/unit/file.test.ts
  frontend/src/pages/ClubDashboard.tsx
Due: backend_tests, backend_build

demo feedback changes
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/types/MailOptions.ts
  backend/src/utils/email.ts
  backend/src/utils/tokens.ts
  frontend/src/components/Filters.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/types/FilterOption.ts
  frontend/tests/integration/HomePage.test.tsx
  frontend/tests/unit/Filters.test.tsx
Due: none

fix tests
  backend/src/utils/email.ts
  backend/tests/unit/email.test.ts
  backend/tests/unit/token.test.ts
Due: none

demo feedback changes (#21)
  backend/src/routes/auth.ts
  backend/src/routes/clubs.ts
  backend/src/types/MailOptions.ts
  backend/src/utils/email.ts
  backend/src/utils/tokens.ts
  backend/tests/unit/email.test.ts
  backend/tests/unit/token.test.ts
  frontend/src/components/Filters.tsx
  frontend/src/pages/ClubsPage.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/types/FilterOption.ts
  frontend/tests/integration/HomePage.test.tsx
  frontend/tests/unit/Filters.test.tsx
Due: none

Update README.md
  README.md
Due: none

add committee moderation
  backend/src/routes/clubs.ts
  backend/tests/integration/clubs.test.ts
  frontend/src/pages/ClubDashboard.tsx
Due: none

add committee moderation (#22)
  backend/src/routes/clubs.ts
  backend/tests/integration/clubs.test.ts
  frontend/src/pages/ClubDashboard.tsx
Due: none

payment processing
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/payment.ts
  backend/src/routes/tickets.ts
  backend/src/utils/payment.ts
  backend/src/utils/stripe.ts
  backend/tests/integration/payment.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/unit/payment.test.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/types/TicketType.ts
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  infra/modules/schema.sql
Due: frontend_tests, frontend_build, backend_tests, backend_build

fix ci
  backend/src/routes/payment.ts
  frontend/tests/integration/Checkout.test.tsx
Due: none

add fee calculation
  backend/src/routes/payment.ts
  backend/src/utils/stripe.ts
  backend/tests/integration/payment.test.ts
Due: none

mock stripe
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
Due: none

fix ci
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
Due: none

add payment fee
  backend/src/routes/payment.ts
  backend/src/utils/payment.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
  frontend/src/pages/Checkout.tsx
Due: none

fix tests
  backend/tests/unit/payment.test.ts
Due: none

add fees
  frontend/src/pages/Checkout.tsx
  frontend/tests/integration/Checkout.test.tsx
Due: none

payment processing (#23)
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/payment.ts
  backend/src/routes/tickets.ts
  backend/src/utils/payment.ts
  backend/src/utils/stripe.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/payment.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
  backend/tests/unit/payment.test.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/types/TicketType.ts
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  infra/modules/schema.sql
Due: frontend_tests, frontend_build, backend_tests, backend_build

update user workflow
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/clubs.ts
  backend/src/utils/club.ts
  backend/src/utils/queue.ts
  frontend/src/App.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/Club.ts
  frontend/src/types/TicketFlag.ts
  frontend/src/types/TicketType.ts
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  infra/modules/schema.sql
Due: backend_tests, backend_build

fix: upgrade lucide-react from 0.453.0 to 0.469.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade tailwind-merge from 2.5.4 to 2.6.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react from 18.3.11 to 18.3.18
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react-dom from 18.3.1 to 18.3.5
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade class-variance-authority from 0.7.0 to 0.7.1
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

complete workflow
  backend/src/index.ts
  backend/src/routes/clubs.ts
  backend/src/routes/payment.ts
  backend/src/types/token.ts
  backend/src/utils/club.ts
  backend/src/utils/queue.ts
  backend/src/utils/tokens.ts
  backend/src/utils/user.ts
  frontend/src/App.tsx
  frontend/src/pages/Action.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/Member.ts
  frontend/src/types/Request.ts
  frontend/src/types/responses/ClubData.ts
  infra/modules/schema.sql
Due: none

fix: upgrade class-variance-authority from 0.7.0 to 0.7.1 (#29)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade lucide-react from 0.453.0 to 0.469.0 (#25)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react-dom from 18.3.1 to 18.3.5 (#28)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade tailwind-merge from 2.5.4 to 2.6.0 (#26)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix: upgrade @types/react from 18.3.11 to 18.3.18 (#27)
  frontend/package-lock.json
  frontend/package.json
Due: frontend_tests, frontend_build

fix ci
  frontend/src/pages/Action.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/tests/integration/ClubDashboard.test.tsx
Due: none

fix ci
  backend/src/utils/queue.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/payment.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
  backend/tests/unit/club.test.ts
  backend/tests/unit/user.test.ts
Due: none

fix lint
  backend/tests/integration/payment.test.ts
Due: none

update user workflow (#24)
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/routes/clubs.ts
  backend/src/routes/payment.ts
  backend/src/types/token.ts
  backend/src/utils/club.ts
  backend/src/utils/queue.ts
  backend/src/utils/tokens.ts
  backend/src/utils/user.ts
  backend/tests/integration/auth.test.ts
  backend/tests/integration/clubs.test.ts
  backend/tests/integration/payment.test.ts
  backend/tests/integration/ticket.test.ts
  backend/tests/integration/user.test.ts
  backend/tests/unit/club.test.ts
  backend/tests/unit/user.test.ts
  frontend/src/App.tsx
  frontend/src/pages/Action.tsx
  frontend/src/pages/Checkout.tsx
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/Club.ts
  frontend/src/types/Member.ts
  frontend/src/types/Request.ts
  frontend/src/types/TicketFlag.ts
  frontend/src/types/TicketType.ts
  frontend/src/types/responses/ClubData.ts
  frontend/src/types/responses/TicketData.ts
  frontend/tests/integration/Checkout.test.tsx
  frontend/tests/integration/ClubDashboard.test.tsx
  infra/modules/schema.sql
Due: backend_tests, backend_build

update pay fail email
  backend/src/routes/payment.ts
  frontend/src/components/ClubCard.tsx
  frontend/src/components/ClubSection.tsx
Due: none

fix ci'
  frontend/tests/unit/ClubCard.test.tsx
  frontend/tests/unit/ClubSection.test.tsx
Due: none

update pay fail email (#30)
  backend/src/routes/payment.ts
  frontend/src/components/ClubCard.tsx
  frontend/src/components/ClubSection.tsx
  frontend/tests/unit/ClubCard.test.tsx
  frontend/tests/unit/ClubSection.test.tsx
Due: none

add tickets tab
  backend/src/routes/clubs.ts
  backend/src/routes/tickets.ts
  backend/src/utils/user.ts
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/TicketExpiry.ts
  frontend/src/types/responses/ClubData.ts
  frontend/src/types/responses/TicketData.ts
  infra/modules/schema.sql
Due: none

update query in tests
  backend/tests/unit/user.test.ts
Due: none

add membership tab (#31)
  backend/src/routes/clubs.ts
  backend/src/routes/tickets.ts
  backend/src/utils/user.ts
  backend/tests/unit/user.test.ts
  frontend/src/pages/ClubDashboard.tsx
  frontend/src/pages/ClubPage.tsx
  frontend/src/types/TicketExpiry.ts
  frontend/src/types/responses/ClubData.ts
  frontend/src/types/responses/TicketData.ts
  infra/modules/schema.sql
Due: none

move to local PSQL
  backend/src/index.ts
  frontend/package-lock.json
  infra/docker-compose.yml
Due: frontend_tests, frontend_build

move to local PSQL (#32)
  backend/src/index.ts
  frontend/package-lock.json
  infra/docker-compose.yml
Due: frontend_tests, frontend_build

Path conditions:
  frontend_tests: any of: frontend/**
  frontend_build: any of: frontend/**
  backend_tests: any of: backend/**
  backend_build: any of: backend/**
